html
  body
    .grid-items
       
        .grid-item.grid-item-image.grid-item-big.ha.image-gradient-dynamic: a(href="/hertz")
            .overlay
            .copy
                h1: a(href="/hertz")  Hertzian Aegis
                p A love letter to Design Noir
            
        .grid-item.mc.image-gradient-dynamic: a(href="/microcosm")
            .overlay
            .copy
                h1: a(href="/microcosm")  Microcosm
                p In the Dust of this Planet
        
        .grid-item.grid-item-image.sif.image-gradient-dynamic: a(href="/space")
            .overlay
            .copy
                h1: a(href="/space") Space is Flat
                p Be the center of the universe
        
        .grid-item.grid-item-image.mm.image-gradient-dynamic: a(href="/mirror")
            .overlay
            .copy
                h1: a(href="/mirror") Mirror // Mirror
                p Does description occlude the noumena?
        
        .grid-item.grid-item-image.tel.image-gradient-dynamic: a(href="/examined")
            .overlay
            .copy
                h1: a(href="/examined") The Examined Life
                p My life as a movie trailer
            
        .grid-item.grid-item-image.grid-item-big.mv.image-gradient-dynamic: a(href="/crave-you")
            .overlay
            .copy
                h1: a(href="/crave-you") Crave You
                p They stare at me while I stare at you

        .grid-item.grid-item-image.lp.image-gradient-dynamic: a(href="/low-poly")
            .overlay
            .copy
                h1: a(href="/low-poly") A Study in Low Poly
                p An exploration of modeling and rendering
                
        //- .grid-item.grid-item-image.ll.image-gradient-dynamic: a(href="/landscapes")
        //-     .overlay
        //-     .copy
        //-         h1: a(href="/landscapes") Local Landscapes
        //-         p Description
        
        .grid-item.grid-item-image.vd.image-gradient-dynamic: a(href="/mixing")
            .overlay
            .copy    
                h1: a(href="/mixing") The Mixing Drawer
                p Human-centered design in everyday life
        
        .grid-item.grid-item-image.snf.image-gradient-dynamic: a(href="/swish-and-flick")
            .overlay
            .copy
                h1: a(href="/swish-and-flick") The <br> Swish & Flick Stool
                p A shelf to embody its contents
        
        .grid-item.grid-item-image.lr.image-gradient-dynamic: a(href="/rhino")
            .overlay
            .copy
                h1: a(href="/rhino") Learning Rhino
                p 3D Modeling with Vectors
            
        //- .grid-item.grid-item-image.image-gradient-dynamic: a(href="/project1")
        //-     .overlay
        //-     .copy
        //-         h1: a(href="/project1")  Project12
        //-         p Description
            
        //- .grid-item.grid-item-image.image-gradient-dynamic: a(href="/project1")
        //-     .overlay
        //-     .copy
        //-         h1: a(href="/project1") Project13
        //-         p Description