html
  body
    .grid-items
       
        .grid-item.grid-item-image.grid-item-big.ha.image-gradient-dynamic: a(href="/hertz")
            .overlay
            .copy
                h1: a(href="/hertz")  Hertzian Aegis
                p Description
            
        .grid-item.mc.image-gradient-dynamic: a(href="/project1")
            .overlay
            .copy
                h1: a(href="/project1")  Microcosm
                p Description
        
        .grid-item.grid-item-image.sif.image-gradient-dynamic: a(href="/project1")
            .overlay
            .copy
                h1: a(href="/project1") Space is Flat
                p Description
        
        .grid-item.grid-item-image.mm.image-gradient-dynamic: a(href="/project1")
            .overlay
            .copy
                h1: a(href="/project1") Mirror // Mirror
                p Description
        
        .grid-item.grid-item-image.tel.image-gradient-dynamic: a(href="/project1")
            .overlay
            .copy
                h1: a(href="/project1") The Examined Life
                p Description
            
        .grid-item.grid-item-image.grid-item-big.mv.image-gradient-dynamic: a(href="/project1")
            .overlay
            .copy
                h1: a(href="/project1") Crave You
                p Description

        .grid-item.grid-item-image.lp.image-gradient-dynamic: a(href="/project1")
            .overlay
            .copy
                h1: a(href="/project1") A Study in Low Poly
                p Description
                
        .grid-item.grid-item-image.ll.image-gradient-dynamic: a(href="/project1")
            .overlay
            .copy
                h1: a(href="/project1") Local Landscapes
                p Description
        
        .grid-item.grid-item-image.grid-item-big.vd.image-gradient-dynamic: a(href="/project1")
            .overlay
            .copy    
                h1: a(href="/project1") The Mixing Drawer
                p Description
        
        .grid-item.grid-item-image.grid-item-big.snf.image-gradient-dynamic: a(href="/project1")
            .overlay
            .copy
                h1: a(href="/project1") The Swish & Flick Stool
                p Description
        
        .grid-item.grid-item-image.lr.image-gradient-dynamic: a(href="/project1")
            .overlay
            .copy
                h1: a(href="/project1") Learning Rhino
                p Description
            
        .grid-item.grid-item-image.image-gradient-dynamic: a(href="/project1")
            .overlay
            .copy
                h1: a(href="/project1")  Project12
                p Description
            
        .grid-item.grid-item-image.image-gradient-dynamic: a(href="/project1")
            .overlay
            .copy
                h1: a(href="/project1") Project13
                p Description