html
  body
    //- outer container div
    .grid-items
        //- small grid item with an image and gradient and link
        .grid-item.grid-item-image.grid-item-big.voyage.image-gradient-dynamic: a(href="/voyage")
            .overlay
            .copy
                h3: a(href="/voyage")  Voyage
                p A Newtonian Physics-based Puzzle Game

        //- large grid item with an image and gradient and link
        .grid-item.grid-item-image.tide.image-gradient-dynamic: a(href="/tide")
            .overlay
            .copy
                h3: a(href="/tide")  Tide
                p A Symbiotic Adventure

        //- small grid item with an image and gradient and link
        .grid-item.grid-item-image.sif.image-gradient-dynamic: a(href="/space")
            .overlay
            .copy
                h3: a(href="/space") Space is Flat
                p Be the center of the universe

        .grid-item.grid-item-image.grid-item-big.ha.image-gradient-dynamic: a(href="/hertz")
            .overlay
            .copy
                h3: a(href="/hertz")  Hertzian Aegis
                p A love letter to Design Noir
        
        //- small grid item with an image and gradient and link
        .grid-item.grid-item-image.mm.image-gradient-dynamic: a(href="/mirror")
            .overlay
            .copy
                h3: a(href="/mirror") Mirror // Mirror
                p Does description occlude the noumena?

        //- small grid item with an image and gradient and link
        .grid-item.grid-item-image.tel.image-gradient-dynamic: a(href="/examined")
            .overlay
            .copy
                h3: a(href="/examined") The Examined Life
                p My life as a movie trailer
            
        //- small grid item with an image and gradient and link
        .grid-item.grid-item-image.vd.image-gradient-dynamic: a(href="/mixing")
            .overlay
            .copy    
                h3: a(href="/mixing") The Mixing Drawer
                p Human-centered design in everyday life

        //- large grid item with an image and gradient and link
        .grid-item.grid-item-image.grid-item-big.mv.image-gradient-dynamic: a(href="/crave-you")
            .overlay
            .copy
                h3: a(href="/crave-you") Crave You
                p They stare at me while I stare at you

        //- small grid item with an image and gradient and link
        .grid-item.grid-item-image.lp.image-gradient-dynamic: a(href="/low-poly")
            .overlay
            .copy
                h3: a(href="/low-poly") A Study in Low Poly
                p An exploration of modeling and rendering
                
        //- .grid-item.grid-item-image.ll.image-gradient-dynamic: a(href="/landscapes")
        //-     .overlay
        //-     .copy
        //-         h3: a(href="/landscapes") Local Landscapes
        //-         p Description
        
        
        
        //- small grid item with an image and gradient and link
        .grid-item.grid-item-image.snf.image-gradient-dynamic: a(href="/swish-and-flick")
            .overlay
            .copy
                h3: a(href="/swish-and-flick") The <br> Swish & Flick Stool
                p A shelf to embody its contents
        
        //- small grid item with an image and gradient and link
        .grid-item.grid-item-image.grid-item-big.lr.image-gradient-dynamic: a(href="/rhino")
            .overlay
            .copy
                h3: a(href="/rhino") Learning Rhino
                p 3D Modeling with Vectors
            
        //- .grid-item.grid-item-image.image-gradient-dynamic: a(href="/project1")
        //-     .overlay
        //-     .copy
        //-         h3: a(href="/project1")  Project12
        //-         p Description
            
        //- .grid-item.grid-item-image.image-gradient-dynamic: a(href="/project1")
        //-     .overlay
        //-     .copy
        //-         h3: a(href="/project1") Project13
        //-         p Description