!= partial("_header", {title:"About"})
p Hey, bud! I'm Andrew, a designer from Philly.

p I like to make things that have both physical and digital dimensions to them. I have a degree in Industrial Design from The University of the Arts. While I was there, I also took a lot of Multimedia classes, which gave me a passion for technology and programming. I like to converge these two feilds in the form of interactive installations or wearable devices.

p I'm always looking at our relationships to technology and the ways we wield it: how it does things <i>for</i> us, and <i>to</i> us.

p When I'm not busy making things, I enjoy exploring the city, sharing cheesy puns with friends, finding cool/inspiring videos on YouTube/Vimeo, or trying to develop a new skill like musicianship, knitting, or meditation.

p Sometimes, I also do collaborations at the Philly Game Forge and make fun game prototypes <a href="http://andreimarks.itch.io/the-hand-that-feeds" target="_blank">like this</a>.



p Some Designers and Professionals that inspire me:

p <a href="http://www.dunneandraby.co.uk/content/projects" target="_blank">Dunne & Raby</a>: A design duo from the UK that make provocative, discursive designs that question the social, cultural, and ethical implications of technological innovations.

p <a href="http://sydmead.com/v/12/" target="_blank">Syd Mead</a>: A futurist concept artist that can envision settings of possible futures that feel warm, attainable, and lived-in.

p <a href="http://shiffman.net/" target="_blank">Daniel Shiffman</a>: A professor at ITP that evangelizes Processing, a designerly programing language adapted from java.

p <a href="http://99percentinvisible.org/about/">Roman Mars</a>: On his podcast, 99% Invisible, Roman investigates the aspects of design just below the surface of our everyday lives. Things in plain sight, and yet completely subconscious to us.

!= partial("_projectGrid")