// h1
!= partial("_header", {title:"About"}) 
//content div
.main-content 
    // subheader
    h4 Hey, bud! I'm Andrew, a designer from Philly working in NYC. 
    
    //- paragraph text
    p I like to make things that have both physical and digital dimensions to them. I have a BS in Industrial Design from The University of the Arts and am currently finishing up an MFA in Design and Technology at Parsons. I like to converge these two feilds in the form of interactive installations, .

    p I'm always looking at our relationships to technology and the ways we wield it: how it does things <i>for</i> us, and <i>to</i> us.

    p When I'm not busy making things, I enjoy exploring the city, sharing cheesy puns with friends, finding cool/inspiring videos on YouTube/Vimeo, or trying to develop a new skill like musicianship, knitting, or meditation.

    //- p Sometimes, I also do collaborations at the Philly Game Forge and make fun game prototypes <a href="http://andreimarks.itch.io/the-hand-that-feeds" target="_blank">like this</a>.
    
    // break
    br 
    // break
    br 

    // subheader
    h4 Some Designers, Technologists, and Professionals that inspire me:

    // paragraph text with links
    p <a href="http://www.dunneandraby.co.uk/content/projects" target="_blank">Dunne & Raby</a>: A design duo from the UK that make provocative, discursive designs that question the social, cultural, and ethical implications of technological innovations.

    p <a href="http://www.syedrezaali.com/" target="_blank">Reza Ali</a>: Reza is a computational designer, software engineer, and creative director. He tackles hard technical problems and creative challenges. He's currently working full-time at Google on WebXR as a VR/AR UX Engineer & Designer.

    p <a href="http://nas.sr/" target="_blank">Ramsey Nasser</a>: Ramsey is a computer scientist, game designer, and educator who loves to make things that are fun, challenging, and useful. Ramsey has done truly innovative work in language and compiler design, from his arabic-based programming language <a href="https://github.com/nasser/---" target="_blank">قلب</a>, to <a href="http://arcadia-unity.github.io/" target="_blank">Arcadia</a>, a Clojure compiler for Unity's CLR.

    p <a href="http://shiffman.net/" target="_blank">Daniel Shiffman</a>: A professor at ITP that evangelizes Processing, a designerly programing language adapted from java.

    p <a href="http://99percentinvisible.org/about/">Roman Mars</a>: On his podcast, 99% Invisible, Roman investigates the aspects of design just below the surface of our everyday lives. Things in plain sight, and yet completely subconscious to us.

//- include the project grid
//- != partial("_projectGrid")