!= partial("_header", {title: "Push My Buttons", description:"A competitive take on whack-a-mole"})

.video-wrapper
    <iframe src="https://www.youtube.com/embed/lwRe1kuQjys" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

.main-content
    -var newArcBlog = 'http://new-arcade.tumblr.com/';
    p This project was an assignment for #[a(href= newArcBlog) New Arcade], a class focused on making unconventional controllers for video games. For this project, our primary constraint was to not use a screen.
    p #[b Role:] Arduino Programming and Game Design
    p #[b In collaboration with:] Kabeer (Soldering and Game Design) and Tushal (Fabrication and Game Design)

!= partial("_projectGrid")