!= partial("_header", {title:"Contact"})

.main-content
    p Want to work together? Here's a couple ways you can reach me!

    p <a href="http://www.twitter.com/thatcotter" target="_blank"> @thatcotter </a>

    p <a href="mailto: cotter.andrew.p@gmail.com"> email </a>



!= partial("_projectGrid")