!= partial("_header", {title:"Contact"})

.main-content
    p Want to work together? Here's how you can reach me!

    p <a href="twitter.com/thatcotter" target="_blank"> @thatcotter </a>

    p <a href=""> email </a>



!= partial("_projectGrid")