!= partial("_header", {title: "Crave You", description: "Project tagline."})


// != partial("_project", {text1: "Music Vizualization: Crave You by Flight Facilities"})

// !=partial("_project", {text2: "Modeled and animated in Cinema 4D"})

!= partial("_projectGrid")