!= partial("_header", {title: "The Examined life", description: "Project tagline."})


// != partial("_project", {text1: "This is a mock trailer that I made as a preview for a hypothetical movie about my life as part of a Professional Communications class"})

!= partial("_projectGrid")