// include header
!= partial("_header", {title: "Hertzian Aegis", description: "A love letter to Design Noir"}) 

// div for the hero images
.hero 
    // image 1
    .ha1 
    // image 2
    .ha2 
    // image 3
    .ha3 

// div for the main content
.main-content 
    // include paragraph text
    != partial("_project", {text1: "For my senior capstone, I focused on on the qualia concerning electro-magnetic fields. Although we come in contact with EMFs several times a day, we don't give them much thought because we cannot perceive them.", pic1: "Project tagline.", text3: "In my senior fall semester, I made a prototype wearable that used a jumper wire as a sensor. The prototype itself only proved to be a capacitive sensor, but it helped me get used to using the Lilypad microcontroller as the conduit of my design. In the spring, I reverse-engineered an existing EMF sensor to have a qualitative output and mapped that output onto a coat."}) 

    //include paragraph text
    !=partial("_project", {text2: "By letting the user visualize electro-magnetic radiation, this wearable technology helps to better understand the hidden nature of electronic objects."}) 

//include project grid
!= partial("_projectGrid")