//h1 and h2
!= partial("_header", {title: "Low Poly Work", description: "An exploration of modeling and rendering"})

// hero images div
.hero
    //- .lp1
    // image 2
    .lp2
    // image 3
    .lp3
    // image 4
    .lp4


// main content div
.main-content
    != partial("_project", {text1: "Throughout my adventures with 3D Modeling, I've had an intense affinity for the Low-Poly aesthetic. The look and feel of low-poly design has a sort of digital nativity to it. There's seldom another environment than the digital landscape that Low-Poly works can inhabit.	"})

!= partial("_projectGrid")