!= partial("_header", {title: "Low Poly Work", description: "Project tagline."})


// != partial("_project", {text1: "Throughout my adventures with 3D Modeling, I've had an intense affinity for the Low-Poly aesthetic. The look and feel of low-poly design has a sort of digital nativity to it. There's seldom another environment than the digital landscape that Low-Poly works can inhabit.	"})

!= partial("_projectGrid")