!= partial("_header", {title: "Magical Girl Mecha", description:"A cooperative, anime-inspired space adventure"})

.video-wrapper
    <iframe src="https://player.vimeo.com/video/245480772" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

.main-content
    -var newArcBlog = 'http://new-arcade.tumblr.com/';
    -var sydney = 'https://sydneyadamsdesigns.com/';
    -var taeyeon = 'https://sites.google.com/site/taeyonii/';
    -var jung = 'https://jung3.com/';
    p This project was an assignment for #[a(href= newArcBlog) New Arcade], a class focused on making unconventional controllers for video games. For this project, we tried to make a game centered around flying a magical robot with a friend through custom motion controls.
    p #[b Role:] OpenCV programming and OSC protocol
    p #[b In collaboration with:] #[a(href= sydney) Sydney Adams] (Design Lead), #[a(href= taeyeon) Taeyeon Kim] (Art Assets), and #[a(href= jung) Seungho Jung] (Unity Programming)

!= partial("_projectGrid")