//- h1 and h2
!= partial("_header", {title: "Mirror // Mirror", description: "Does description occlude the noumena?"})

//- hero images div
.hero
    .mm1
    .mm2
    .mm3

//- main content div
.main-content
    //- paragraph content
    != partial("_project", {text1: "Using OpenCV in openFrameworks, I made a webcam application that critiques the user’s appearance in real time. The application utilizes blob tracking to display strings over the user’s features and dole out its critique."})

    //- !=partial("_project", {text2: "In processing, I made a variety of yellow objects representing celestial bodies. When someone moves into the Kinect's vision, a grey object is generated in the sketch that follows their movement and causes the yellow objects to orbit them. In this way, I attempted to illustrate the effects of interstellar gravity, using the participants' bodies and movements as the examples of gravity."})

//- include project grid
!= partial("_projectGrid")