//- h1 and h2
!= partial("_header", {title: "Mixing Drawer", description: "Human-centered design in everyday life"})

//- hero images div
.hero
    //- image 4
    .vd4
    //- image 1
    .vd1
    //- image 2
    .vd2
    //- image 3
    .vd3    
    
//- main content div
.main-content
    //- paragraph text
    != partial("_project", {text1: "This drawer is the product of a four-week project focusing on designing for people with physical disabilities."})

    != partial("_project", {text2: "My partner and I began our research by interviewing several people who have physical disabilities that hinder their cooking and eating habits. What we noticed was that people with walkers and crutches can only use one hand to mix and can’t steady the bowl with their off-hand."})

    != partial("_project", {text3: "Our solution focused on creating a space that will help keep a mixing bowl in place while in use. To this end, we made an extendable tray with a hole in the center that can brace the bowl for the user."})

//- include project grid
!= partial("_projectGrid")