!= partial("_header", {title: "Mirror // Mirror", description: "Project tagline."})


// != partial("_project", {text1: "This is a series of 3D Models that I made in my undergrad junior year while learning Rhino."})

//- // !=partial("_project", {text2: "In processing, I made a variety of yellow objects representing celestial bodies. When someone moves into the Kinect's vision, a grey object is generated in the sketch that follows their movement and causes the yellow objects to orbit them. In this way, I attempted to illustrate the effects of interstellar gravity, using the participants' bodies and movements as the examples of gravity."})

!= partial("_projectGrid")