!= partial("_header", {title: "Learning Rhino", description: "3D Modeling with Vectors"})

.hero
    .br1
    .br2
    .br3
    .lt1
    .lt2
    .lt3

.main-content
    != partial("_project", {text1: "This is a series of 3D Models that I made in my undergrad junior year while learning Rhino."})

!= partial("_projectGrid")