//- h1 and h2
!= partial("_header", {title: "Learning Rhino", description: "3D Modeling with Vectors"})

//- hero image div
.hero
    //- image 1
    .br1
    //- image 2
    .br2
    //- image 3
    .br3
    //- image 1
    .lt1
    //- image 2
    .lt2
    //- image 3
    .lt3

//- content div
.main-content
    != partial("_project", {text1: "This is a series of 3D Models that I made in my undergrad junior year while learning Rhino."})

//- project div
!= partial("_projectGrid")