//- h1 and h2
!= partial("_header", {title: "Swish & Flick Stool", description: "A shelf to embody its contents"})
//- hero images div
.hero
    //- .snf1
    //- image 1
    .snf1
    //- image 2
    .snf2
    //- image 3
    .snf3
    //- image 4
    .snf4
    
        //- img( src= "/images/Stool1.png" )
//- content div
.main-content
    //- paragraph text
    != partial("_project", {text1: "The Swish & Flick Stool was made to create an immersive experience for the reader. By creating a physical representation of the world of Harry Potter, the reader derives a superior reading experience."})

    !=partial("_project", {text2: "The concept for the stool was inspired by the Ottoman Stool and the Umbra Conceal Shelf. The form was accommodated into a septagon to fit the seven books in the Harry Potter series."})

    !=partial("_project", {text3: "The legs were made of acrylic to slide between the pages, creating the illusion that the books themselves were the legs."})

//- include project grid
!= partial("_projectGrid")