!= partial("_header", {title: "Tide", description: "A Sybiotic Adventure"})

.main-content

    iframe(width='900', height='425', scrolling='no', frameborder='no', src= '../thatcotter.github.io/tideGame.html')

    p Player 1: 
        b W,A,S,D 
    p Player 2: 
        b UP, DOWN, LEFT, RIGHT
    //- script(src='libraries/p5.js', type='text/javascript')
    //- script(src='libraries/p5.dom.js', type='text/javascript')
    //- script(src='libraries/p5.sound.js', type='text/javascript')
    //- script(src='js/GameManager.js', type='text/javascript')
    //- script(src='js/Flowfield.js', type='text/javascript')
    //- script(src='js/Marimo.js', type='text/javascript')
    //- script(src='js/Predator.js', type='text/javascript')
    //- script(src='js/Prey.js', type='text/javascript')
    //- script(src='js/Flock.js', type='text/javascript')
    //- script(src='js/Marimo.js', type='text/javascript')
    //- script(src='js/SplashHit.js', type='text/javascript')
    //- script(src='js/sketch.js', type='text/javascript')


//- != partial("_projectGrid")