@import "../../bourbon/bourbon"; 
@import "../../base/grid-settings";
@import "../../neat/neat";
// @import "../../base/base";

body{
  font-family: "Helvetica";
  // text-align: center;
  padding: 50px 20px 0;
  background: #f4f4f7;
  color: #444;
  // background: #444;
  // color: #f4f4f7;
  margin: 0;
}

h1{
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 0px 20px 0;
}

h2{
    // font-weight: 400;
    padding: 0 0 20px 20px; //bottom pad of 20px 
}

h3{
  font-weight: 200px;
  padding: 0 0 20px 20px; //bottom pad of 20px 
}

p{
  font-family: "Monaco", monospace;
  font-size: 18px;
  text-align: left;
}

li{
  font-family: "Monaco", monospace;
  font-size: 18px;
  text-align: left;
}

@mixin grid-item-columns($columns) { //create a grid based on the columns variable
  width: (100% / 12) * $columns; // width of each column is 100 / 12
}

.full-grid{
  @include span-columns(12);
  // background: lightcoral;
}

.grid-half{
  @include span-columns(6);
}

.grid-third{
  @include span-columns(4);
  // background: cyan;
}

.grid-fourth{
  @include span-columns(3);
}

.grid-sixth{
  @include span-columns(2);
}

#bgs{
  padding: 0px;
  position: fixed;
  z-index: -1;
}

iframe{
  // margin-left: -30%;
}
