doctype
html
  head
    link(rel="stylesheet" href="assets/main.css")

    script( language="javascript" type="text/javascript" src="libraries/p5.js" )
    script( language="javascript" type="text/javascript" src="libraries/p5.dom.js" )

    //- script( language="javascript" type="text/javascript" src="testSketch.js" )

    //- script( language="javascript" type="text/javascript" src="sketch.js" )
    //- script( language="javascript" type="text/javascript" src="stateMachine.js" )
    //- script( language="javascript" type="text/javascript" src="slides/noBG.js" )
    //- script( language="javascript" type="text/javascript" src="slides/points.js" )
    //- script( language="javascript" type="text/javascript" src="slides/historyPoints.js" )
    //- script( language="javascript" type="text/javascript" src="slides/rotatePoints.js" )
    //- script( language="javascript" type="text/javascript" src="slides/jitterPoints.js" )
    //- script( language="javascript" type="text/javascript" src="slides/wavePoints.js" )

  body
    != yield