//- script( language="javascript" type="text/javascript" src="testSketch.js" )

//- h1 The Shape Data
.full-grid
    .grid-sixth
        p 
    .quote.grid-half
        h1 The Dot
        p 
            em "The geometric point is an invisible thing. Therefore, it must be defined as an incorporeal thing. Considered in terms of substance, it equals zero... Thus we look upon the geometric point as the ultimate and most singular union of silence and speech. The geometric point has, therefore, been given its material form, in the first instance, in writing. It belongs to language and signifies silence."
        p
            em -Kandinsky, Point and Line to Plane
    .grid-third
        p 

.full-grid
    .grid-sixth
        p 
    .quote.grid-half
        h2 How do we draw with data?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        h2 Vectors
        iframe(width='900', height='425', scrolling='no', frameborder='no', src= 'codemirrorsketches/dot1.html')
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        h2 Arrays
        iframe(width='900', height='425', scrolling='no', frameborder='no', src= 'codemirrorsketches/dot2.html')
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        //- h2 Lists
        iframe(width='900', height='425', scrolling='no', frameborder='no', src= 'codemirrorsketches/dot3.html')
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .grid-thfourth
        p 