//- div(class="sketch" id="bgs")
//- script( language="javascript" type="text/javascript" src="testSketch.js" )


.full-grid
    .grid-sixth
        p


    .grid-third
        h1 The Algorithmic Sketchbook
        h3 A Gentle Introduction to Using Code Expressively

        h2 Contents
        ul#list
            p 
                a(href="about") 0::About This Book

            p 
                a(href="dot") 1::The Dot
            ul
                li How do we Draw with Data?
                li Positions
                li Arrays

            p 
                a(href="line") 2::The Line
            ul
                li Moving the Dot
                li The Line as a series of Dots
                li Curves from lines
                li Textures from Lines

            //- p 
            //-     a(href="surface") 3::The Surface
            //- ul
            //-     li Structure through Repetition
            //-     li Dot and Line to Surface
            p 
                a(href="sandbox") 00::Sandbox

    .grid-third
        p