//- div(class="sketch" id="bgs")
//- script( language="javascript" type="text/javascript" src="testSketch.js" )


.full-grid
    .grid-sixth
        p


    .grid-third
        h1 The Algorithmic Sketchbook
        h3 A Gentle Introduction to Using Code Expressively
        br
        h2 Contents
        ul#list
            p 
                a(href="about") 0::About This Book

            p 
                a(href="dot") 1::The Dot
            ul
                li Booleans
                li Integers/Floats
                li Strings/Characters

            p 
                a(href="line") 2::The Line
            ul
                li Vectors
                li Arrays
                li Lists

            p 
                a(href="surface") 3::The Surface
            ul
                li Statements
                li Expressions
                li Loops
                li Functions
            p 
                a(href="sandbox") 00::Sandbox
    .grid-third
        p