//- div(class="sketch" id="bgs")
//- script( language="javascript" type="text/javascript" src="testSketch.js" )


.full-grid
    .grid-sixth
        p


    .grid-third
        h1 The Algorithmic Sketchbook
        h3 A Gentle Introduction to Using Code Expressively
        br
        h2 Contents
        ul#list
            p 0::About This Book

            p 
                a(href="data") 1::Data
            ul
                li Booleans
                li Integers/Floats
                li Strings/Characters

            p 
                a(href="shape") 2::The Shape of Data
            ul
                li Vectors
                li Arrays
                li Lists

            p 
                a(href="movement") 3::The Movement of Data
            ul
                li Statements
                li Expressions
                li Loops
                li Functions

    .grid-third
        p