//- script( language="javascript" type="text/javascript" src="testSketch.js" )

//- h1 The Shape Data
.full-grid
    .grid-sixth
        p 
    .quote.grid-half
        h1 The Line
        p 
            em "A line is a dot that went for a walk."
        p
            em -Paul Klee, The Pedagogical Sketchbook
            
    .grid-third
        p 

.full-grid
    .grid-sixth
        p 
    .quote.grid-half
        h2 Moving the Dot
        p A simple way to think of lines is as dots over time. By moving the dot back and forth, we imply a line.
        
        //- h2 Vectors
        iframe(width='900', height='425', scrolling='no', frameborder='no', src= 'codemirrorsketches/line1.html')
        p Here, we've made the background translucent, so the recent positions of the dot can be seen. From these recent positions, we can see a line folding over itself back and forth.
        
        h2 The Line as a series of Dots
        iframe(width='900', height='425', scrolling='no', frameborder='no', src= 'codemirrorsketches/line4.html')
        p Try clicking and dragging in the canvas above. It's almost like you're drawing with the mouse! Now press the spacebar: it should show you the points that the sketch was storing based on your mouse positions.

        h2 Curves from Lines
        iframe(width='900', height='425', scrolling='no', frameborder='no', src= 'codemirrorsketches/line3.html')
        p In the same way that we can form a line from compund dots, we can also form curves from compound lines.
        
        h2 Textures from Lines
        iframe(width='900', height='425', scrolling='no', frameborder='no', src= 'codemirrorsketches/line2.html')
        p Also, in the same way we can imply textures from repeating dots, we can also form textures from repeating lines. By changing the spacing and density of the lines, we also change the nature of the surface we are implying.

    .grid-thfourth
        p 