@font-face {
  font-family: "Sans Forgetica";
  src: url("../assets/SansForgetica-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Circular";
  src: url("../assets/circular-medium.otf") format("opentype");
}

@font-face {
  font-family: "Josefin Slab";
  src: url('https://fonts.googleapis.com/css?family=Josefin+Slab');
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro'); */
/* @import url('https://fonts.googleapis.com/css?family=Fira+Mono|Oxygen+Mono'); */

.title {
  font-family: 'Circular';
  /* font-family: 'Josefin Slab'; */
  /* font-family: 'Sans Forgetica'; */
}

/* h2 {
  font-family: 'Sans Forgetica', 'Josefin Slab';
} */

.name{
  font-family: 'Circular';
  /* font-family: 'Josefin Slab'; */
  /* font-family: 'Sans Forgetica'; */
}

.fa,
.fas,
.far,
.fal,
.fab {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}