@import '../../../../node_modules/bulma/bulma';

@import url(https://use.fontawesome.com/releases/v5.5.0/css/all.css);

.fa,
.fas,
.far,
.fal,
.fab {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.tileImage {
    flex: 0;
    height: 100%;
    width: 100%;
    layout: fill;
    opacity: 0.66;
    object-fit: cover;
}