// @import "all the scss libs"
@import "../bourbon/bourbon"; 
@import "../base/grid-settings";
@import "../neat/neat";
@import "../base/base";


body{
  padding: 50px 20px 0; //pad 50 top, 20 sides, 0 bottom
  background: #f4f4f7; //background color: 
  color: #444; //text color: 
  margin: 0; //margin 0
  @include transition( all 0.8s); //css transition takes 0.8s
}

h1{
  font-size: 52px; //h1 size 65px
  line-height: 1.2em; //
  border-bottom: #CCC solid 1px; //gives the border a small underline
  padding: 20px 0; // top and bottom pad of 20px
  margin-top: -5%;
}
h2{
    // font-weight: 400;
    padding: 0 0 20px 0; //bottom pad of 20px 
    margin-top: -20px;
}
h3{
  font-weight: 400; //300 font-weight
//   padding: 20px 0;
}

p{
    // padding: 5px;
}
@mixin grid-item-columns($columns) { //create a grid based on the columns variable
  width: (100% / 12) * $columns; // width of each column is 100 / 12
}


.image-gradient-dynamic { //class
  $image-gradient-color-top: red; 
  $transparency-top: 0.9;
  $image-gradient-color-bottom: green; 
  $transparency-bottom: 0.6;
  $vertical-angle: 0deg;
  $image-gradient-color-left: teal; 
  $transparency-left: 0.8;
  $image-gradient-color-right: yellow; 
  $transparency-right: 0.8;
  $horizontal-angle: 90deg;
  
//   line-height: 0;
  position: relative; 
//   width: 100%;

  img { //image style
   height: auto; //automatically size the height
   left: 0; 
   position: relative;
   top: 0;
   width: 100%;
   background: url("https:
//raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");//filler image
   // background-color: $grid-item-background;
   background-position: center; //center the image
   background-repeat: no-repeat; //dont tile the image
   background-size: cover; //image takes up the entire element
  }

  .copy {
    @include transform(translate(-50%, -50%)); //center the text
    left: 50%; // 50% to the right
    margin: auto;
    position: absolute;
    text-align: center; //centes
    top: 50%; // 50% down 
    z-index: 999; //put it in front
  }

  .overlay { //gives div an overlay
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top), 
      transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px); 

    &:after {
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left), 
        transparentize($image-gradient-color-right, $transparency-right));
      @include position(absolute, 0px 0px 0px 0px);
      content: '';
      display: block;
      @include transition-property(transform, opacity);
    }
    &:active, //change the opacity when 
    &:focus,
    &:hover{
      opacity: .75;
      color: darken($image-gradient-color-top, 5%);
      color: darken($image-gradient-color-bottom, 5%);
      color: darken($image-gradient-color-left, 5%);
      color: darken($image-gradient-color-right, 5%);
    }
  }
}


.grid-items {
  $action-color: #477DCA !default;
  $base-background-color: white !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($action-color, 10%);
  $grid-item-colors: 
    desaturate($action-color, 10%),
    // desaturate($action-color, 10%),
    // desaturate($action-color, 10%),
    // desaturate($action-color, 10%),
    // desaturate($action-color, 10%),
    // desaturate($action-color, 10%),
    // desaturate($action-color, 10%),
    // desaturate($action-color, 10%),
    // desaturate($action-color, 10%),
    // desaturate($action-color, 10%),
    // desaturate($action-color, 10%),
    // desaturate($action-color, 10%),
    // desaturate($action-color, 10%);

    #29CDB5, 
    #E2C85B,
    #008698,
    #F08A5D, 
    #E0FFFB,
    #6A2C70,
    #29CDB5, 
    #E2C85B,
    #008698,
    #F08A5D, 
    #E0FFFB,
    #6A2C70;
  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: white;
  $grid-item-height: 14em;

  @include clearfix;
  
  
    
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: ($grid-item-border-size / 2) solid $grid-items-background;
    border-right: ($grid-item-border-size / 2) solid $grid-items-background;
    border-top: 0;
    border-color: #f4f4f7;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-align: left;
    text-decoration: none;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 through length($grid-item-colors) { 
// assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10%);

        &:focus,
        &:hover {
          background-color: darken($background-from-list, 30%);
          background-repeat: no-repeat;
        //   background-position: top;
          background-size: cover;
        }
      }
    }
  }

  .grid-item h1 {
    color: $grid-item-color;
    font-size: 1.3em;
    margin-bottom: 0.4em;
  }

  .grid-item p {
    color: transparentize($grid-item-color, 0.1);
    line-height: 1.5em;
    margin: auto;
  }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
  }
  
  .grid-item-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ha{
    background: url('../images/HA_7288(edit).jpg');
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tide{
    background: url('../images/tide.gif');
    background-color: $grid-item-background;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sif{
    background: url('../images/SIF2.gif');
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mm{
    background: url('../images/Mirror5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mv{
    background: url("../images/MusicVizMin.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tel{
    background: url('../images/ExaminedLifeMin.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ll{
    background: url('../images/07Ura.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .lp{
    background: url('../images/LowPoly1.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .vd{
    background: url('../images/Drawer4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .snf{
    background: url('../images/Stool1Min.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .lr{
    background: url('../images/LatticeTable1.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mc{
    background: url('../images/microcosm.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0 null null 0);
    @include size(100%);
  }
}

.hero{
  @include outer-container;
  // @include span-columns(12);
  margin-bottom: 80px;
  margin-left: 0px;
  height: 400px;

  .div{
    // margin-right: 10px;
    // margin-left: -30px;
    // margin-bottom: 100px;
    // padding-bottom: 100px;
    margin: 0px;
  }
  .br1{
    @include span-columns(3.9125);
    height: 400px;
    @include background-image(url("/images/BertoiaRender1.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .br2{
    @include span-columns(3.9125);
    height: 400px;
    // margin-left: -20px;
    @include background-image(url("/images/BertoiaRender2.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .br3{
    @include span-columns(3.9125);
    height: 400px;
    // margin-left: -10px;
    @include background-image(url("/images/BertoiaRender3.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ha1{
    @include span-columns(12);
    height: 400px;
    // margin-left: -10px;
    margin-bottom: 20px;
    @include background-image(url("/images/HA_7288(edit).jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ha2{
    @include span-columns(6);
    height: 400px;
    // margin-left: -10px;
    @include background-image(url("/images/HA_7269.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ha3{
    @include span-columns(6);
    height: 400px;
    // margin-left: -10px;
    @include background-image(url("/images/HA_7270.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .lp1{
    @include span-columns(3);
    height: 400px;
    @include background-image(url("/images/LowPoly1.gif"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .lp2{
    @include span-columns(3);
    height: 400px;
    @include background-image(url("/images/LowPoly5.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .lp3{
    @include span-columns(6);
    height: 400px;
    @include background-image(url("/images/LowPoly3.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .lp4{
    @include span-columns(3);
    height: 400px;
    @include background-image(url("/images/LowPoly4.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .lt1{
    @include span-columns(4);
    height: 400px;
    @include background-image(url("/images/LatticeTable1.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .lt2{
    @include span-columns(4);
    height: 400px;
    margin-left: -10px;
    @include background-image(url("/images/LatticeTable2.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .lt3{
    @include span-columns(3.9125);
    height: 400px;
    margin-left: -10px;
    @include background-image(url("/images/LatticeTable3.png"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mc1{
    @include span-columns(6);
    height: 400px;
    @include background-image(url("/images/microcosm.gif"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mc2{
    @include span-columns(6);
    height: 400px;
    @include background-image(url("/images/microcosm2.png"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .mm1{
    @include span-columns(4);
    height: 400px;
    @include background-image(url("/images/Mirror1.png"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mm2{
    @include span-columns(4);
    height: 400px;
    @include background-image(url("/images/Mirror4.png"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mm3{
    @include span-columns(4);
    height: 400px;
    @include background-image(url("/images/Mirror5.png"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .sif1{
    @include span-columns(6);
    height: 400px;
    @include background-image(url("/images/SIF1.gif"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sif2{
    @include span-columns(6);
    height: 400px;
    @include background-image(url("/images/SIF2.gif"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .snf1{
    @include span-columns(3);
    height: 400px;
    @include background-image(url("/images/Stool1.png"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .snf2{
    @include span-columns(3);
    height: 400px;
    @include background-image(url("/images/Stool2.png"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .snf3{
    @include span-columns(3);
    height: 400px;
    @include background-image(url("/images/Stool3.png"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .snf4{
    @include span-columns(3);
    height: 400px;
    @include background-image(url("/images/Stool4.png"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .vd1{
    @include span-columns(5.8);
    height: 400px;
    @include background-image(url("/images/Drawer1.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .vd2{
    @include span-columns(5.8);
    height: 400px;
    @include background-image(url("/images/Drawer2.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .vd3{
    @include span-columns(5.8);
    height: 400px;
    @include background-image(url("/images/Drawer3.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .vd4{
    @include span-columns(5.8);
    height: 400px;
    @include background-image(url("/images/Drawer4.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .vd5{
    @include span-columns(2.9);
    height: 400px;
    @include background-image(url("/images/Drawer5.jpeg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .vd6{
    @include span-columns(2.9);
    height: 400px;
    @include background-image(url("/images/Drawer6.jpeg"), linear-gradient(white 0, yellow 50%, transparent 50%));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
}

.main-content{
  // @include margin( null 15% null 15%);
  @include span-columns(9);
  @include shift(1.5);  
  margin-bottom: 40px;
  margin-top: 20px;

  .lefty{
    width: auto;
    // height: 300px;
    // float: left;
    // margin-right: 20px;
    // margin-bottom: 20px;
    @include span-columns(6);
    img{
      width: auto;
      height: auto;
    }
  }
  .righty{
    width: auto;
    height: 500px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;

    img{
      height: auto;
    }
  }
  .hero{
    @include outer-container;
    @include shift(1.5);
    img{
      width: auto;
      // height: 300px;
    }
  }
}

.pageTitle{
  color: black
}

.links{
  text-align: right;
  margin-top: -2%;
  // position: fixed;
  li{
    display: inline;
    font-size: 18px;
  }
}